
body{
   font-family:Avenir, 'Helvetica neue', Helvetica, '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif !important; 
}

.navbar{
    background-color: #c7e1e7;
    color: white;
    text-align: right;

}

.row{
    width: 960px;
    margin:0 auto;
    position:relative;

}

.logo{
    margin-top: 20px;
    float:left;
}


ul.nav{
    list-style-type: none;
    float: right;
    display:inline;
    margin-top:30px;
    font-size: 15px;


}

.nav>li{
    float:left;    
}

.nav>li a{
    color:white;

}


div#glayLayer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #acdde6;
    filter: alpha(opacity=75);
    opacity: 0.60;
    z-index: 1;
}

div#overLayer{
    display:none;
    width:400px;
    background:white;
    padding:10px;
    position: fixed;
    top:50%;
    left:50%;
    z-index: 2;
}


body{
    padding-top:70px;
    font-family: 'Open Sans', sans-serif;

}

.main{
    clear:both;
    background-image: url(../img/top.jpg);
    background-size: 100%;
    height:500px;
}


.facebook_login{
    position: absolute;
    top: 100px;

}



.title{
    color: white;
    text-shadow:2px 2px grey;
    margin-top: 120px;
}


.login{
    margin: 80px 0;
    
}

.login>p{
    float:left;
    margin:10px;
    
}


h3{
    color: grey;
    text-align: center;
    
}


p{
   font-size: 1.2em;
   margin-top: 20px;;
}



.btn-success{
    width: 250px;
    display: inline;
    text-align: center;
}

.btn-primary{
    width: 250px;
}

.background_2{
    background-color: #f3f8f9;
    height: 50px;
}

.background{
    height: 300px;
    background-color: #f3f8f9   ;

}

hr{
    margin: 0 0 50px 0;
}

.alert{
    clear: both;
}

.koumoku{
    max-width: 100px;
    height: 100px;
}


.caption{
    height: auto;
    padding: 20px;

}

.thumbnail{
    background-color: #e5ecf6;
    display: table;
    text-align: center;
    width: 300px;
    margin-top: 50px;
    moz-transition-property: background-color, width, height;
   -webkit-transition-property: background-color, width, height;
   -o-transition-property: background-color, width, height;
   -ms-transition-property: background-color, width, height;

   -moz-transition-duration:0.3s;
   -webkit-transition-duration:0.3s;
   -o-transition-duration:0.3s;
   -ms-transition-duration:0.3s;

   -moz-transition-timing-function:ease-in-out;
   -webkit-transition-timing-function:ease-in-out;
   -o-transition-timing-function:ease-in-out;
   -ms-transition-timing-function:ease-in-out;
}

.thumbnail:hover{
    background-color: white;

}



.button_center{
    text-align: center;
}

.search_bar{
    width: 30%;

    float: left;
    height: 100px;
}

.pagination{
    width: 70%;
    margin: 0;
    height: 100px;
    border-radius: 0;

}

.form-horizontal .control-label{
    text-align: left;
}

.housekeeper{
    background-color: #e3efd7;
    padding: 10px;

}
.thumb{
    width: 30%;
    float: left;
    height: 70px;

}

.thumbphoto{
    padding-bottom: 10px;
}
.summary{
    width: 70%;

}

.summary>ul{

}



div.caption{
    height: 450px;
}


div.caption p{
    font-size: 14px;
}

footer{
    height: 400px;
    background-color: #000000;
}





