
/*reset css*/


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix {
    min-height: 1px;
}

* html .clearfix {
    height: 1px;
    /*¥*//*/
    height: auto;
    overflow: hidden;
    /**/
}

.both{
    clear:both;
}

.inline_block {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*全体、及びトップページ*/

body{
   font-family:Avenir, 'Helvetica neue', Helvetica, '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif !important; 
}

.navbar{
    background-color: #c7e1e7;
    color: white;
    text-align: right;

}


.row{
    width: 1080px;
    margin:0 auto;
    position:relative;

}


hr{
    margin-top: 0;

}



.row_2{
    width: 460px;
    margin:0 auto;
    position:relative;
}

.container{
    width: 960px;
}

.logo{
    margin-top: 10px;
    float:left;
    text-align: left;
}




ul.nav-right{
    list-style-type: none;
    float: right;
    display:inline;
    margin-top:30px;
    font-size: 18px;
    width:300px;
}





ul.nav-right_2 {
    position: relative;
    list-style-type: none;
    float: right;
    display:inline;
    margin-top:10px;
    font-size: 16px;
    color: #f5f5f5;
    width:150px;

}

ul.nav-right_2 a{
    text-decoration: none;
    color: grey;
}


span.username{
    color: #f5f5f5;
    font-size: 16px;
    margin-top: 5px;
    display: block;

}

ul.custom_dropdown{
    display: none;
    background-color: #f5f5f5;
    position: absolute;
    color: grey;
    margin-top:22px;
    padding-left: 0px;
    width: 150px;

}

ul.custom_dropdown li{
    list-style-type: none;
    font-size: 14px;
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dashed grey;

}

.glyphicon-chevron-down{
    color: #f5f5f5;
    font-size: 12px;
    font-weight: bold;
    margin-left: 0px;
    vertical-align: bottom;
}

.glyphicon-home{
    color: #f5f5f5;
    font-size: 20px;
    margin-left: 10px;
}

.glyphicon-envelope{
    color: #f5f5f5;
    font-size: 20px;
    margin-left: 10px;
}

.glyphicon-bell{
    color: #f5f5f5;
    font-size: 20px;
    margin-left: 10px;
}



ul.nav-right_3 {
    list-style-type: none;
    float: right;
    display:inline;
    margin-top:10px;
    padding-left: 0px;
    font-size: 18px;
    width:200px;
}


.nav>li,.nav-right>li, .nav-right_2>li, .nav-right_3>li{
    float:left;    
}


.nav>li a, .nav-right>li a, .nav-right_2>li a, .nav-right_3>li a{
    color:white;
    position: relative;
    display: block;
    padding: 5px 5px;
}

.nav_btn{
background: -moz-linear-gradient(top,#72A8DD 0%, #72A8DD);
background: -webkit-gradient(linear, left top, left bottom, from(#72A8DD), to(#72A8DD));
border: 2px solid #DDD;
color: #111;
border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
/*-moz-box-shadow: 1px 1px 1px rgba(000,000,000,0.3);*/
/*-webkit-box-shadow: 1px 1px 1px rgba(000,000,000,0.3);*/
width: 80px;
padding: 0px 0;
}

.nav_btn a{
    font-size: 12px;
    color:grey;
    text-align: center;
    font-family: Meiryo;
}

.nav_btn_2{

    background: -moz-linear-gradient(top,#72A8DD 0%, #72A8DD);
    background: -webkit-gradient(linear, left top, left bottom, from(#72A8DD), to(#72A8DD));
    border: 2px solid #DDD;
    color: #111;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    /*-moz-box-shadow: 1px 1px 1px rgba(000,000,000,0.3);*/
    /*-webkit-box-shadow: 1px 1px 1px rgba(000,000,000,0.3);*/
    width: 150px;
    padding: 0px 0;


}

.nav_btn_2 a{
    font-size: 12px;
    color:grey;
    text-align: center;
    font-family: Meiryo;
}





div#glayLayer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #acdde6;
    filter: alpha(opacity=75);
    opacity: 0.60;
    z-index: 1;
}

div#overLayer{
    display:none;
    width:50%;
    background:beige;
    padding:10px;
    position: fixed;
    top:50%;
    left:50%;
    z-index: 50;
    border-radius: 5px;
}

.register, .find{
    width:50%;
    text-align: left;
}

.social_register{
    width: 100%;
    margin: 0 auto;
}

.btn-success{

    color: #fff;
    background-color: #ed8056;
    border-color: #ed8056;
}



.submit{
    text-align: center;
}


body{
    border-top: solid;
    border-top-width: 10px;
    border-color: #e9ebed;
    margin-top: 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

}

.main{
    clear:both;
    background-image: url(../img/top_1_small.jpg);
    background-size: 100%;
    height:500px;
}



.title{
    color: white;
    text-shadow:2px 2px grey;
    margin-top: 120px;
}


.login, .loginindex{
    margin: 80px 0;
    
}



.login>p{
    float:left;
    margin:10px;
    
}


.houseowner-register{
    width: 250px;
}

.housekeeper-register{
    width: 250px;
}

.housekeeper_recruit{
    background-image: url(../img/housekeeper_recruit.png);
    height: 400px;
    margin-bottom: -50px;
    display: block;

}

.housekeeper_recruit h3{
    margin-top: 150px;
    color: #ffffff;
    font-weight: bold;
}

.social-login-form{
    width: 460px;
    margin: 0 auto;

}

.main-login{
    width: 40%;
}

.facebook-login{
    background-color: #3b5998;
    width: 80%;
    margin-left: 10%;

}

.twitter-login{
    background-color: #0084b4;
    width: 80%;
    margin-left: 10%;

}

h3{
    text-align: center;
    color: grey;
}



h4{
    text-align: center;
    color: grey;
}


p{
   font-size: 1.0em;
   margin-top: 20px;
    text-align: center;
    color: grey;
}



.btn-success{

    display: inline;
    text-align: center;
}

.btn-primary{

}


.background{

    background-color: #f3f8f9;
}

.background_2{

    padding-top: 50px;
    padding-bottom: 100px;

}


.col-lg-6{
    text-align: center;
    font-size: 16px;
    padding: 0px;
}

dt{
    font-size: 18px !important;
}


.alert{
    clear: both;
}

.koumoku{
    max-width: 100px;
    height: 100px;
}

.midashi_1{
    color: grey;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}

.midashi_2{
    color: grey;
    text-align: center;
    margin-top: 20px;
    font-size:22px;
}

.caption{
    height: 440px;
    padding: 20px;

}

.thumbnail{
    background-color: #e5ecf6;
    display: table;
    text-align: center;
    width: 300px;
    margin-top: 50px;
    color: grey;
}

.thumbnail:hover{
    background-color:#3c68b1;
    color: white;
    box-shadow: none;
}


.caption:hover{
    color: white;
}

.caption img{
    margin-bottom: 20px;
}


.button_center{
    text-align: center;
}

.background_2 img{
    float: left;
    margin-right: 10px;
    margin-bottom: 50px;
}

.howtouse{
    padding: 20px;
    background-color: #cbe7d2;
    margin: 10px;
    height: 200px;
    text-align: left;
    color: grey;
}

.howtouse:hover{
    background-color: #1a92b4;
    color: #ffffff;
}



.howtouse_comment{
    margin-left: 5px;

}


.howtouse dd{

    font-size: 14px;
}

footer{
    background-color: #000000;
    padding: 20px 0;
    margin-top: 50px;
    text-align: center;
    color: #ffffff;
    clear:both;
}



footer ul li{
    list-style-type: none;
    font-size: 14px;
}

.subpage-title:after {
    content: "";
    width: 100px;
    height: 3px;
    background-color: darkgreen;
    display: block;
    margin: 10px auto;
}

/*Housekeeperページ、Houseownerページ*/

.user{
    float: right;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: grey;
}

.search_bar{
    width: 20%;
    margin-top:10px;
    float: left;

}


.pagination {
    width: 75%;
    margin: 10px 0px 0px 50px;
    padding: 0px 0px 50px 0px;
    border-radius: 0;

}



.form-horizontal .control-label{
    text-align: left;
}


.pagination h2{
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: grey;
}

.search_bar h3,
.pagination h3{
    text-align: left;
    margin-bottom: 0px;
}


.pagination p{
    text-align: left;
}

.profile{
    width: 100%;
    margin: 10px 0px;
    padding: 0px 0px 0px 0px;
    border-radius: 0;

}

.profile p{
    text-align: left;
}

ul.tab{
    padding:0;
}
ul.tab li{
    list-style-type:none;
    width:120px;
    height:40px;
    float:left;
    display: block;
    border: solid 1px #9FB7D4;
    border-radius: 3px;
    border-bottom: none;

}
ul.tab li a{
    outline:none;
    display:block;
    color:blue;
    line-height:40px;
    text-align:center;

}
ul.tab li a.selected{
    text-decoration:none;
    color:#333;
    cursor:default;
}
ul.panel{
    clear:both;
    border:1px solid #9FB7D4;
    padding:0;
}
ul.panel li{
    list-style-type:none;
    padding:10px;
    text-indent:1em;
    color:#333;
}

legend{
    font-weight: lighter;
    font-size: 16px;
}



.housekeeper{
    background-color: #e3efd7;
    padding: 10px;
    border: thin dotted grey;
    clear: both;
}

.housekeeper:hover{
    background-color: #eef5f7;

    
}

.houseowner{
    background-color: lightyellow;
    padding: 10px;

}

.houseowner:hover{
    background-color: #eef5f7;
    
}

.housekeeper_row{
    padding-left: 0px;
    margin-top: 10px;
}

.housekeeper_profile{
    width: 250px;
    height: 450px;
    background-color: #e5ddd2;
    padding: 0px 10px;
    float: left;
    list-style-type: none;
    margin-right: 20px;
    margin-bottom: 20px;

}

.housekeeper_profile img{
    margin-left: -10px;
}

.housekeeper_profile hr{
    margin:0;
}

.housekeeper_profile h5{
    font-size: 16px;
}

.housekeeper_profile h6{
    font-size: 14px;
}

.photo{
    width: 250px;
    height: 250px;
}

.thumbphoto{
    padding-bottom: 10px;
}

.summary{
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.thumb li,.summary li{
    list-style-type: none;
    text-align: left;
    margin-left: -35px;
}


.summary_left{

    float: left;
    width: 40%;
    font-weight: bold;
    font-size: 15px;
    color: orange;


}

.summary_right{
    margin-left: 40%;



}

.summary li{
    margin-bottom: 5px;
}

.thumb li{
    font-weight: bold;
    color:#084884;
    font-size: 16px;
}


.ind_page h3{
    text-align: left;
    font-weight: bold;
}

.ind_page h4{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: grey;
}

.ind_page p{
    text-align: left;
}

.ind_column{
    float: left;
    width:30%;
    margin-top: 50px;
}



.ind_contents{
  float: left;
  width: 60%;
  margin: 0px 40px;

}


caption{
    color:grey;
    font-size: 20px;
    font-weight: bold;
}

.ind_table_caption{
    width:30%;
}

.ind_table_info{
    width:70%;
}

.housekeeper_request,.profile,.ind_photo{
    margin-top: 50px;
}


.profile h4,.housekeeper_request h4{
    text-align: left;
    font-size: 20px;
}

.profile p,.housekeeper_request p{
    text-align: left;
    font-size: 14px;

}

.private_message{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.private_message_title{
    text-align: center;
}

.textarea{
    padding:0px;
}

.message{
    width: 84%;
    margin:0 auto;
}

.thread{
    margin-top: 50px;
    width: 30%;
    float: left;
}

.thread li{
    list-style-type: none;
    margin: 10px 0px;
    font-size: 16px;
}


.messages{
    margin-top: 50px;
    width: 70%;
    float: left;

}


.recruit_banner{
    height: 100px;
    background-color: #0084b4;

    color: #ffffff;
}

.recruit_banner h1{
    font-size: 24px;

}





