/*全体、及びトップページ*/

body{
   font-family:Avenir, 'Helvetica neue', Helvetica, '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif !important; 
}

.navbar{
    background-color: #c7e1e7;
    color: white;
    text-align: right;

}

.row{
    width: 960px;
    margin:0 auto;
    position:relative;

}

.logo{
    margin-top: 20px;
    float:left;
}


ul.nav{
    list-style-type: none;
    float: right;
    display:inline;
    margin-top:30px;
    font-size: 15px;

}

.nav>li{
    float:left;    
}

.nav>li a{
    color:white;

}


div#glayLayer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #acdde6;
    filter: alpha(opacity=75);
    opacity: 0.60;
    z-index: 1;
}

div#overLayer{
    display:none;
    width:60%;
    background:beige;
    padding:10px;
    position: fixed;
    top:50%;
    left:50%;
    z-index: 50;
    border-radius: 5px;
}


body{
    padding-top:70px;
    font-family: 'Open Sans', sans-serif;

}

.main{
    clear:both;
    background-image: url(../img/top_2.png);
    background-size: 100%;
    height:500px;
}



.title{
    color: white;
    text-shadow:2px 2px grey;
    margin-top: 120px;
}


.login{
    margin: 80px 0;
    
}

.login>p{
    float:left;
    margin:10px;
    
}


h3{
    color: grey;
    text-align: center;
    font-weight: bold;
}



h4{
    color: grey;
    text-align: center;
    margin-top: 20px;
}


p{
   font-size: 1.2em;
   margin-top: 20px;;
}



.btn-success{
    width: 250px;
    display: inline;
    text-align: center;
}

.btn-primary{
    width: 250px;
}


.background{

    background-color: #f3f8f9;
}

.background_2{

}


.col-lg-6{
    text-align: center;
    font-size: 16px;
}

dt{
    font-size: 18px !important;
}

hr{
    margin: 0 0 50px 0;
}

.alert{
    clear: both;
}

.koumoku{
    max-width: 100px;
    height: 100px;
}


.caption{
    height: auto;
    padding: 20px;

}

.thumbnail{
    background-color: #e5ecf6;
    display: table;
    text-align: center;
    width: 300px;
    margin-top: 50px;
    moz-transition-property: background-color, width, height;
   -webkit-transition-property: background-color, width, height;
   -o-transition-property: background-color, width, height;
   -ms-transition-property: background-color, width, height;

   -moz-transition-duration:0.3s;
   -webkit-transition-duration:0.3s;
   -o-transition-duration:0.3s;
   -ms-transition-duration:0.3s;

   -moz-transition-timing-function:ease-in-out;
   -webkit-transition-timing-function:ease-in-out;
   -o-transition-timing-function:ease-in-out;
   -ms-transition-timing-function:ease-in-out;
}

.thumbnail:hover{
    background-color: white;

}

.button_center{
    text-align: center;
}



/*Housekeeperページ、Houseownerページ*/

.user{
    float: right;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: grey;
}

.search_bar{
    width: 30%;
    padding:10px;
    float: left;

}

.pagination{
    width: 70%;
    margin: 0;
    padding:10px;
    border-radius: 0;

}

.form-horizontal .control-label{
    text-align: left;
}



.search_bar h3,
.pagination h3{
    text-align: left;
}

legend{
    font-weight: lighter;
    font-size: 16px;
}

.housekeeper{
    background-color: #e3efd7;
    padding: 10px;
    border: thin dotted grey;
}

.housekeeper:hover{
    background-color: #eef5f7;
    
}

.houseowner{
    background-color: lightyellow;
    padding: 10px;

}

.houseowner:hover{
    background-color: #eef5f7;
    
}


.thumb{
    width: 30%;
    float: left;
    height: 70px;

}

.thumbphoto{
    padding-bottom: 10px;
}
.summary{
    width: 70%;

}

.summary>ul{

}


div.caption{
    height: 450px;
}


div.caption p{
    font-size: 14px;
}

.ind_photo{
    float: left;
    width:30%;
    margin-top: 50px;

}

.ind_contents{
  float: left;
  width: 60%;
  margin: 0px 40px;

}

caption{
    color:grey;
    font-size: 20px;
    font-weight: bold;
}

.ind_table_caption{
    width:30%;
}

.ind_table_info{
    width:70%;
}

.message{
    width: 50%;
    margin: 0 auto;
}


footer{
    background-color: #000000;
    margin: 50px 0;
    text-align: center;
    color: #ffffff;
    clear:both;
}





